.wedget {
  background: $light-blue;
  margin-bottom: $xl-size;
  &-header {
    background: $blue;
    color: $white;
    padding: $m-size;
    display: flex;
    justify-content: space-between;
    &__title {
      margin: 0;
    }
  }
  &-message {
    color: $white;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 0.16rem solid lighten($light-blue, 10%);
  }
}
